* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: Arial, sans-serif !important;
}
div {
  color: whitesmoke;
}

h2,
h3,
h4 {
  color: orange;
}

.transparent-btn {
  border: none !important;
  background-color: transparent !important;
}

.transparent-btn:hover {
  color: wheat !important;
}

.transparent-btn:active {
  color: white !important;
  transform: scale(0.96);
}

.transparent-btn:focus {
  box-shadow: none !important;
}

.pt-8 {
  padding-top: 8rem;
}

.w-30 {
  width: 30%;
}

.w-28 {
  width: 26%;
}

.w-34 {
  width: 34%;
}

.w-10 {
  width: 11%;
}

.w-32 {
  width: 32%;
}

.text-purple {
  color: rgb(192, 29, 192);
}

.text-node {
  color: #008080 !important; /* Teal */
}
